/* Box sizing 
html {
	box-sizing: border-box;
}
*,*: before, *:after {
	box-sizing inherit; */

/* Making sections visible	*/
body {
	background-color: LightGray;	
}
div {
	border: 1px solid Chocolate;
}

.content {
	padding: 0px 15px;
}


/* Navigation Section section color */
.top-navigation {
	background-color: #fff;	
}
/* Box dimensions for top nav section content */
.top-navigation > .content {	
	width: 970px;	
	height: 70px;	
	margin: 0 auto;	
}

/* Styling links selector inside top navigation */
.top-navigation .links li { 
	float: right; 
	color: #4c5058;
	/*font-weight: 500; */
}
img. logo {
	margin-left: 14px;
	height: 70px; 	
}
li .links{
	display: inline-block;
	margin: 1.7em;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased;
}
ul .links {
	display: inline;
	list-style-type: none;
}
